@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-brand: #003665;
  --color-brand-light: #00aeef;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
